
// Custom callout colors

// Brown callout
$callout-brown-000: #DAA520; // Goldenrod
$callout-brown-100: #B8860B; // DarkGoldenrod
$callout-brown-200: #A0522D; // Sienna
$callout-brown-300: #8B4513; // SaddleBrown

// Gaudy callout
$callout-gaudy-000: #FF00FF; // Magenta
$callout-gaudy-100: #FFFF00; // Yellow
$callout-gaudy-200: #FF0000; // Red
$callout-gaudy-300: #00FF00; // Lime

// Golden callout
$callout-golden-000: #EEE8AA; // PaleGoldenrod
$callout-golden-100: #FFD700; // Gold
$callout-golden-200: #DAA520; // Goldenrod
$callout-golden-300: #B8860B; // DarkGoldenrod

// Lime callout
$callout-lime-000: #00FF00; // Lime
$callout-lime-100: #32CD32; // LimeGreen
$callout-lime-200: #2E8B57; // SeaGreen
$callout-lime-300: #006400; // DarkGreen

// Magenta callout
$callout-magenta-000: #EE82EE; // Violet
$callout-magenta-100: #FF00FF; // Magenta
$callout-magenta-200: #9400D3; // DarkViolet
$callout-magenta-300: #8B008B; // DarkMagenta

// Magenta Dark callout
$callout-magenta-dk-000: #FF00FF; // Magenta
$callout-magenta-dk-100: #9400D3; // DarkViolet
$callout-magenta-dk-200: #8B008B; // DarkMagenta
$callout-magenta-dk-300: #4B0082; // Indigo

// Red Dark callout
$callout-red-dk-000: #FF0000; // Red
$callout-red-dk-100: #DC143C; // Crimson
$callout-red-dk-200: #B22222; // FireBrick
$callout-red-dk-300: #8B0000; // DarkRed

// Pale Grey callout
$callout-pale-grey-000: #FFFFFF; // White
$callout-pale-grey-100: #DCDCDC; // Gainsboro
$callout-pale-grey-200: #C0C0C0; // Silver
$callout-pale-grey-300: #696969; // DimGray
